# =========================
# Data & artifacts
# =========================
data*/
models*/
*.pkl
*.joblib

# =========================
# MLflow
# =========================
mlruns*/
experiments_*/
mlflow.db
